@using System.Linq
@using DniproFuture.Models
@model DniproFuture.Models.Projects
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h3>Уверены, что хотите удалить этот проект?</h3>
    <div>
        <hr />
        @{
            ProjectsLocalSet local = Model.ProjectsLocalSet.ElementAt(0);
        }
        <h4>@Html.Label(local.ProjectName)</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться назад", "Index")
            </div>
        }
    </div>
</div>