@{
    ViewBag.Title = "Admin";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h2>Admin-ka</h2>

    <script src="http://101widgets.com/w1416650445-00000506&600&600"></script>
</div>
