@using System.Linq
@using DniproFuture.Models
@model DniproFuture.Models.NeedHelp

@{
    ViewBag.Title = "Delete";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h3>Уверены, что хотите удалить этого человека из базы?</h3>
    <div>
        <hr />
        @{
            NeedHelpLocalSet local = Model.NeedHelpLocalSet.ElementAt(0);
        }
        <h4>@Html.Label(string.Format("{0} {1} {2}", local.FirstName, local.Patronymic, local.LastName))</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("Вернуться назад", "Index")
            </div>
        }
    </div>
</div>