@using System.Linq
@using DniproFuture.Models
@model DniproFuture.Models.News
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h3>Уверены, что хотите удалить эту новость?</h3>
    <div>
        <hr />
        @{
            NewsLocalSet local = Model.NewsLocalSet.ElementAt(0);
        }
        <h4>@Html.Label(local.Title)</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться назад", "Index")
            </div>
        }
    </div>
</div>
