@model IEnumerable<DniproFuture.Models.Mail>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<script>
    
</script>
<div class="container customContainer">
    <h2>Index</h2>

    <a class="page-scroll btn btn-xl" href="@Url.Action("ClearAll", "Mails")">Нахуй ВсЁ</a>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
        <tr class="messages">
            @foreach (var item in Model)
            {
                Html.RenderPartial(item.IsRead == false ? "UnreadMessage" : "ReadMessage", item);
            }
        </tr>
    </table>
</div>