<!--Header section-->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">@ViewRes._HomeStrings.HeaderOrganization</div>
            <div class="intro-heading">@ViewRes._HomeStrings.HeaderDniproFuture</div>
            @*<a href="#helpNow" class="page-scroll btn btn-xl">@ViewRes._HomeStrings.HeaderMoreInfo</a>*@
        </div>
    </div>
</header>
