<!--Header section-->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">@ViewRes._HomeStrings.HeaderOrganization</div>
            <div class="intro-heading">@ViewRes._HomeStrings.HeaderDniproFuture</div>
        </div>
    </div>
</header>
