<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Благодійна організація</div>
            <div class="intro-heading">Майбутнє Дніпра</div>
            <a href="#helpNow" class="page-scroll btn btn-xl">Хочу знати більше</a>
        </div>
    </div>
</header>
