<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#helpNow">Помочь сейчас</a>
                </li>
                <li>
                    <a class="page-scroll" href="#donation">Сбор средств</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">О нас</a>
                </li>
                <li>
                    <a class="page-scroll" href="#news">Новости</a>
                </li>
                <li>
                    <a class="page-scroll" href="#how">Как помочь</a>
                </li>
                <li>
                    <a class="page-scroll" href="#partners">Нам помогают</a>
                </li>
                <li>
                    <a class="page-scroll" href="#clients">Кому помогли</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contacts">Обратная связь</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-alert"></span>
                    <span class="glyphicon glyphicon-education"></span>
                    <span class="glyphicon glyphicon-tasks"></span>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

